<!DOCTYPE html>
<!-- 
  The consent.html displays the text of your IRB-approved
  consent form.  Even if you are not required to provide
  a consent form, it is helpful to use this form to 
  describe what people can do if an error comes up, etc...

-->
<html>
	<head>
		<meta charset="utf-8" />
		<title>Traveling Sheep Task - Informed Consent Form</title>
		<link rel="stylesheet" href="/static/style.css" type="text/css" />
		<link rel="icon" href="/static/favicon.ico" />
	</head>
	<body>
		<div id="consent-form">
			<h1>CONSENT FORM FOR ONLINE AMAZON MECHANICAL TURK PARTICIPANTS (IRB-FY2016-231)</h1>
			<p><span class="section">Introduction:</span>  The purpose of this study is to investigate how people learn in dynamic
			tasks. It will be conducted by Professor Todd M. Gureckis who is the principal
			investigator, at the Department of Psychology, Faculty of Arts & Science, New York
			University.</p>
			<p><span class="section">Procedure:</span> If you agree to take part in the study, you may be asked to: look at pictures
			of objects (e.g., geometric figures or everyday objects) presented on a computer display,
			listen to sounds, or observe lights controlled by the computer and to make judgments
			about them using a keyboard, mouse, or switch attached to a computer.</p>
			<p><span class="section">Risks of Harm:</span> There are no known risks associated with participating in this research.</p>
			<p id="details"><span class="section">Payments, Fees or Other Incentives:</span> Participation in this study will take about
			75 minutes to complete, and you will receive $2.50 for your participation. As an
			additional incentive to try your best at the task, you may earn a cash bonus of up to $7.50
			based on your performance. Participation in the study is voluntary and you may
			withdraw at any time. If you withdraw, you will be paid a portion of the full compensation
			based on the percentage of the study completed.</p>
			<p><span class="section">Benefits:</span> You will receive no direct benefits from participating in this study. However, it
			may make you more aware of how knowledge is discovered in psychology. It may also
			help researchers better understand how people remember aspects of narratives.</p>
			<p><span class="section">Subject’s Rights:</span> Participation in this study is completely voluntary. Not participating or
			withdrawing will result in no penalties. You have the right to skip or not answer any
			questions you prefer not to answer. Once participating, you may withdraw at any time.</p>
			<p><span class="section">Confidentiality:</span> Confidentiality of your responses in the study will be maintained by
			giving all subject data a numerical code. Any specific identifying information will be
			disclosed only to the investigators and their senior research team. Data are transmitted
			via a connection provided by Amazon Web Services and are encrypted using SSL.
			However, as with all information transmitted over the internet, the absolute security, and
			therefore, confidentiality, of your data cannot be guaranteed. Because payment for
			participation in this study is linked to your Amazon account, the fact that you have
			participated in some or all of this study is not confidential. The results of this study may
			be published in a book or journal or used for teaching purposes. However, your name or
			other identifiers will not be used in any publication or teaching. Following completion of
			the study, all individual identifiers will be destroyed and data will be archived with the
			laboratory of Professor Todd Gureckis.</p>
			<p class="summary">The investigator and the above have informed you about this study and answered your
			current questions to your satisfaction. Therefore, you agree to participate in it. If there is
			anything about the study or your participation that is unclear or that you do not
			understand, if you have questions or wish to report a research-related problem, you may
			contact the principal investigator, Dr. Todd Gureckis, at the Department of Psychology, 6
			Washington Place, Room 859 by email todd.gureckis@nyu.edu or phone (212) 998-3794.
			For questions about subjects’ rights as a research participant, you may contact the
			University Committee on Activities Involving Human Subjects (UCAIHS), NYU, (212)
			998-4808 or human.subjects@nyu.eduask.humansubjects@nyu.edu.</p>
			
			Please print a copy of this consent document to keep<p>
			<button type="button" id="agreeButton" onclick="window.location='/exp?hitId={{ hitid }}&assignmentId={{ assignmentid }}&workerId={{ workerid }}';">Click to agree</button></p>
		</div>
	</body>
</html>
